<%= form_with model:director do |f|%>
<div>
<%= f.label 'Nome' %>
<%= f.text_field :name %>
</div>

<div>
<%= f.label 'País de Origem' %>
<%= f.text_field :origin_country %>
</div>

<div>
<%= f.label 'Ano de Nascimento' %>
<%= f.date_field :birth_date %>
</div>

<div>
<%= f.label 'Gênero Favorito' %>
<%= f.text_field :favorite_genre %>
</div>

<div style="margin-top: 10px">
<%= f.submit 'Salvar' %>
</div>

<% end %>